{% extends "base.html" %}
{% block content %}


<h4> Be a Foodie and you can add your own recipes and save your favourites on your profile.</h4>

<h3>Log in w FaceBook</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card-panel">
                <!-- username-->
                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" class="validate" minlength="4" maxlength="15"
                               pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="username"> <i class=" fas fa-user-plus"></i> Username</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="first_name" name="first_name" type="text" class="validate" minlength="2"
                               maxlength="15" pattern="^[a-zA-Z0-9]{2,15}$" required>
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" name="last_name" type="text" class="validate" minlength="2" maxlength="15"
                               pattern="^[a-zA-Z0-9]{5,15}$" required>
                        <label for="last_name">Last Name</label>
                    </div>

                    <div class="input-field col s6">
                        <input id="email" name="email" type="email" class="validate" required>
                        <label for="email"><i class=" fas fa-at"></i> Email</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="phone" name="phone" type="tel" class="validate" required>
                        <label for="phone"> <i class="fas fa-phone"></i> Telephone</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="password" type="password" name="password" minlength="5"
                             class="validate">
                        <label for="password"> <i class="fas fa-lock"></i> Password</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="passwordConfirm" type="password" name="passwordConfirm">
                        <label id="lblPasswordConfirm" for="passwordConfirm" data-error="Password not match"
                               data-success="Password Match">Password (Confirm)</label>
                    </div>
                </div>
                <div class="row">
                    <button type="submit" name="action">Register
                        <i class="fas fa-sign-in"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already a Foodie? <a href="{{ url_for('login')}}">Log in</a>
        </p>
    </div>
</div>

{% endblock %}
